*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
	font-family: system-ui;
}
.laptop-content{
	background: rgb(247, 245, 245);
	width: 100%;
	height: 100vh;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	color: rgb(56, 46, 34);
	
}
.outerbox{
	display: none;
}


@media screen and (min-width: 320px) and (max-width: 1000px){

	.outerbox{
		display: block;
		width: 100%;
		float: left;
		height: 100vh;
	}
	.header{
		width: 100%;
		height: 90vh;
		float: left;
		background-color: rgb(254, 254, 254);
	}
	.footer{
		width: 100%;
		height: 10vh;
		float: left;
		background-color: whitesmoke;
		position: fixed;
		bottom: 0;
		text-align: center;	
	}
	.icon-box{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 40px 0px;
		
	}
	.icon-main{
		width: 15%;
		float: left;
		/*border: 2px solid brown;*/
	}
	a{
		text-decoration: none;
		color: black;
		font-size: 50px;
		font-weight: bold;
	}
	.heading-text{
		font-size: 40px;
		text-align: center;margin-top: 30px;
	}




	.laptop-content{
		display: none;
	}
	
}


















